.captionBox{
	composes: captionBox from "styles/utils.module.css";
}

.caption{
	composes: caption from "styles/utils.module.css";
}

.p2 {
	margin-block-end: var(--space-xs);
}

.p3 {
	margin-block-start: 0.5em;
	margin-block-end: var(--space-xs);
	padding-inline-start: var(--space-sm);
}