.wrapper {
    padding-block: var(--space-xl);
    background-color: var(--accent);
}

@media (min-width: 768px) {
    .wrapper {
        min-block-size: 60vh;
    }
}

.title {
    display: grid;
    place-content: center;
    font-size: calc(var(--body) * 2.5);
    letter-spacing: 0.05em;
    color: var(--white);
}