.sideBySide {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
    margin-inline-start: 1em;
    padding: 0.5em;
    background-color: var(--accent);
    border-radius: 3px;
}

.iconText {
    font-size: 0.8rem;
    color: var(--gray-80);
}
