/* 両端揃え */
.spaceBetween {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideBySide {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.sideBySide {
		flex-direction: row;
		justify-content: space-between;
	}
}

.sideBySideCenter {
	composes: sideBySide;
	align-items: center;
	text-align: center;
}

@media (min-width: 768px) {
	.sideBySideCenter {
		text-align: left;
	}
}

.captionBox{
	position: relative;
	margin-block: var(--space-md);
	padding-inline: 2em;
	padding-block-end: 1em;
	border: 1px solid;
}
  
.caption{
	position: absolute;
	display: flex;
	inset-block-start: 0;
	inset-inline-start: 0;
    padding: 0 1em;
    margin: 0;
    background-color: white;
    transform: translateY(-50%) translateX(1em);
}